.backdrop{
    width:100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.651);
    z-index:98;
    position: fixed;
}

.card{
    min-height: 5rem;
    width:45%;
    background-color: white;
    position: fixed;
    z-index:100;
    top:23%;
    left:26.5%;
    border-radius:20px;
    padding: 1rem;
    text-align: center;
    animation:popdown 300ms ease-out;
}

@keyframes popdown{
    0%{
        top:17%;
    }
    50%{
        top:21%;
    }
    100%{
        top:23%
    }
}

.actionButton{
    display: flex;
    justify-content: flex-end;
}

.actionButton button{
    font-size: 1.1rem;
    padding:0.6rem 1rem 0.6rem 1rem;
    background-color: white;
    margin:0rem 2rem 0rem -1rem;
    color:#8a2b06;
    border:1px solid #8a2b06;
    border-radius:20px;
}

.actionButton button:hover{
    color:white;
    background-color: #8a2b06;
}

.cartList{
    min-height:10rem;
    max-height: 17rem;
    overflow-y: scroll;
}

.totalAmount{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}

.card h2{
    font-size:1.5rem;
}

